<div  [@slideInOut] class="h-100 flex-column d-flex justify-content-center align-items-center">
    <h1 class="custom-h1">
        HEY, I’M  <span class="summary-name">AHMED SAMIR</span> 
    </h1>
<h1 class="custom-h1">

    BUT YOU CAN CALL ME <span class="summary-name">MR.SAM</span> 
</h1>
<p class="text-center">
    I'm a Front-end Developer
</p>

<div class="d-flex justify-content-center" routerLink="/about">
    <span class=" text-center about-hover pointer">

    <svg  width="24" height="24"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7501 11.7258L4.75012 11.7258" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.6998 5.70124C13.6998 5.70124 19.7498 8.96224 19.7498 11.7242C19.7498 14.4882 13.6998 17.7502 13.6998 17.7502" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>

 

    About Me 
</span>
</div>


</div>