.custom-h2{
    width: 100%;
}

.lang-name{
    font-weight: 900;
}

.level{
    margin-inline-start: 10px;
    color: #777 !important;
    font-weight: light;

}

a{
    text-decoration: none;
    width: max-content;
    align-items: center;
}

.img-sec{
    @media  (max-width : 768px) {
        display: none;
           }
}


.card-icon:hover{
    border-radius: 50%;
    border: 1px solid transparent !important;
    transition: border 300ms ease-in-out;

}
img{
    border-radius: 5px;
}
.card-icon{
    padding: 1rem;
    border-radius: 50%;
    transition: border 300ms ease-in-out

}